<div id="startPlanningMyDays-page" ng-controller="StartPlanningMyDaysController as dsb">

<form ng-submit="CheckStartPlanningMyDays()" name="startPlanningMyDaysForm">
  <h3 style="text-align:center">Start Planning my days</h3>

  <div class="left">
    <br>
     <div class="form-group">
       <label>Select Date:</label>
		   	<input class="form-control" ng-model="Date" id="Date">
     </div>
       <div class="form-group">
	    	<label>Enter Event: </label>
	        <input class="form-control" ng-model="event" id="event">
	     </div>
   <div class="form-group">
     <label>Select Time:</label>
      <input   class="form-control" id="timepicker"  ng-model="timepicker">
	  </div>
  <div class="form-group">
		<label>Select Duration: </label>
	      <input class="form-control" id="duration" ng-model="duration"  />
          
  </div>
      <div class="form-group text-center">
		     <input   class="btn btn-primary " type="submit" value="Submit">
		        <input class="btn btn-success " type="reset" value="Add New Event">
	   </div>
          </div>
            <h2  style="text-align:center">Tasks of the day:</h2>
              <br>
           <p style="text-align:center"> {{ Date }} </p>
         <p style="text-align:center"> {{ timepicker }}{{duration}} {{ event }}</p>
       </form>
    </div>


